.menu {
  height: 100dvh;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr;
  justify-items: center;
}

.menuItem {
  list-style: none;
  height: 100%;
  width: 100%;
  line-height: 5rem;
  display: grid;
  grid-template-rows: 10rem repeat(6, 3.5rem);
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center;
}
.ball {
  animation: ballSpin infinite 3s linear;
}
.menuList {
  font-size: 1.6rem;
  font-weight: 500;

  color: var(--color--Red);
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 8px;
  align-items: center;
  text-decoration: none;
}
.text {
  color: var(--color--Red);
  font-size: 5rem;
  justify-self: start;
}
.fred {
  height: 100%;
  transform: skew(-30deg, 30deg);
}
.fredBox {
  height: 40rem;
  width: 120%;
  position: relative;
  border: 5px solid var(--color--Red);
  transform: skew(30deg, -30deg);
}
.container {
  display: grid;
  align-content: center;
}
.cross {
  cursor: pointer;
  align-self: center;
  position: relative;
  transform: rotate(45deg);
  &,
  &::before {
    height: 0.3rem;
    width: 2rem;
    border-radius: 10px;
    background-color: var(--color--Red);
  }

  &::before {
    content: "";
    position: absolute;
    transform: rotate(90deg);
  }
}
@keyframes ballSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1025px) {
  .fred {
    height: 80%;
  }
  .menu {
    grid-template-columns: 5rem 0.7fr 1fr;
  }
}
@media (max-width: 430px) {
  .menu {
    grid-template-columns: 5rem 0.6fr 1fr;
  }
  .fred {
    height: 100%;
    transform: skew(-20deg, 20deg);
  }
  .fredBox {
    height: 40rem;
    width: 100%;
    position: relative;
    border: 5px solid var(--color--Red);
    transform: skew(20deg, -20deg);
  }
}
