.quoteSection {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-column-gap: 2rem;
}

@media (max-width: 1200px) {
  .quoteSection {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .quoteSection {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-column-gap: 0;
  }
}
@media (max-width: 430px) {
  .quoteSection {
    height: 50dvh;
  }
}
