.section{
    height: 80dvh;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    background-color: var(--color--White);
}
.text{
    color: var(--color--Red);
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    display: grid;
    align-content: center;
}
.shirt{
    height: 100%;
    width: 100%;
   position: absolute;
   left: 0%;
   top: 0%;
    transform: translate(-50% , -50%);
    transform: skew(20deg , -20deg);
}
.qMark{
    font-family:'Katibeh';
    font-size: 15rem;
    position: absolute;
    left: 20%;
    top: 0%;
    transform: translate(-70% , -70%);
    transform: skew(20deg , -20deg);
}
.qSection{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}

.shirtSection{
    color: var(--color--White);
     position: relative;
     border: 10px solid var(--color--Red);
    height: 25rem;
     width: 18rem;
    transform: skew(-20deg , 20deg);
    display: grid;
    justify-self: center;
   align-self: self-start;
}
.questionSection{
    padding: 3rem 0;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    
}
.questionList{
    list-style: none;
    cursor: pointer;
}

.question{
    background-color:#9F0505;
    color: var(--color--White);
    font-size: 1.3rem;
    padding: 1rem ;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr min-content;
    border-radius: 3px;
}

.plus{
    cursor: pointer;
}
.answer{
    border-top: 1px solid var(--color--White);
    padding: 1rem 0;
}
@media (max-width : 700px) {
    .section{
        height: 55dvh;
    }
}