.item{
    background-color: var(--color--Red);
    border-radius: 5px;
    padding: 1.5rem;
    border: none;
   cursor: pointer;
   display: grid;
   grid-template-columns: min-content 1fr;
   grid-column-gap: 1rem;
   &:hover{
    transform: scale(1.5);
   }
}

.image{
    height: 50px;
    width: 60px;
    border-radius: 5px;
}

.text{
    color: var(--color--White);
    font-size: 1.5rem;
    font-weight: 500;
}
@media (max-width : 1200px) {
    .item{
       width: 80%;
    }
 
    
}
@media (max-width : 900px) {
    .item{
        padding: 1rem;
        width: 100%;
    }
    .text{
        display: grid;
        justify-content: center;
    align-items: center;
        font-size: 1.2rem;
       
    }
    
}