.gallery{
    height: 120dvh;
    width: 100dvw;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 1rem;
}
.btn1 , .btn2{
    font-size: 5rem ;
    cursor: pointer;
    align-self: center;
    font-weight: 100;
    
}
.btn1{
    transform: rotate(180deg);
}

.album{
    position: relative;
}
@media (max-width : 1000px) {
    .gallery{
         height: 100dvh;
    }
}
@media (max-width : 700px) {
    .gallery{
         height: 85dvh;
    }
}