.img1{
    height: 18rem;
    width: 28rem;
    border-radius: 50%;
    outline-offset: 2rem;
   outline: 5px solid var(--color--White);
   z-index: 1;
}
.img2{
    height: 11rem;
    width: 20rem;
    border-radius: 50%;
    outline-offset: 2rem;
   outline: 5px solid var(--color--White);
  
}
.img3{
    height: 12rem;
    width: 20rem;
    border-radius: 50%;
    outline-offset: 2rem;
   outline: 5px solid var(--color--White);
}
.img{
        display: grid;
        grid-template-columns: repeat(3 ,min-content);
        align-items: center;
        justify-content: center;
        background-color: var(--color--Red);
}
.mainHeading{
    color: var(--color--Red);
    background-color: var(--color--White);
    font-size: 3rem;
    position: fixed;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--color--Red);
    z-index: 5;
}

.page{
    height: 100%;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
}

.description{
    color: var(--color--Red);
    display: grid;
    grid-template-rows: 0.5fr 1fr min-content ;
    justify-items: center;
    padding: 3rem;
}
.img1{
    height: 18rem;
    width: 28rem
}
.text{
    width: 50%;
    font-size: 1.2rem;
}

.link{
    text-decoration: none;
    color: var(--color--Red)
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}  