.section{
  width: 100%;
  height: 100dvh;
  position: relative;
  margin: 2rem 0;
 
  display : grid;
  grid-template-rows: 15vh 1fr min-content 1fr ;
  grid-gap: 1rem;
  justify-content: center;

}

.football{
  justify-self: center;
  animation : ballSpin infinite 3s linear;
}

.topSection{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-column-gap: 10rem;
}
.bottomSection{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-column-gap: 10rem;
}


@keyframes ballSpin {
  from {
    transform: rotate(0deg) scale(0.5);
    
  }
  to {
    transform: rotate(360deg) scale(0.5);
  
  }
}

