.header{
    font-family:'Katibeh';
    font-size: 3.5rem;
    font-weight: 400;
    background-image: linear-gradient(to right bottom,#9F0505 30% , #ffffff );
    color: transparent;
    background-clip: text;
    
    display: grid;
    
    justify-items: flex-end;
  }
  .header__1{
    display: block;
    justify-self: flex-start;
    align-self: self-end;
  }
  .header__2{
   display: block;

  }