.page{
    height: 100dvh;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ticketContainer{
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    justify-items: center;

}

.heading{
    font-family:'Katibeh';
    font-size: 3rem;
    font-weight: 900;
    color: var(--color--Red);
    text-align: center;
}
.text{
    display: block;
    font-size:1.5rem ;
}
.ticketBox{
    height: 60dvh;
    width: 100%;
    list-style: none;
    color: var(--color--White);
    font-family:'Katibeh';
    display: grid;
    grid-template-rows: repeat(4 , 1fr);
    grid-row-gap: 2rem;
}

.ticket{
    padding: 1rem 1rem;
    background-color: var(--color--Red);
    font-size: 1.8rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  grid-column-gap: 1.5rem;
  border-radius: 5px;
}

.img{
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
}

.link{
    text-decoration: none;
    color: var(--color--Red)
}
.btn{
    align-self: flex-start;
    border-radius: 5px;
}
.ticketNo{
    height: 5rem;
    width: 5rem;
    font-weight: 800;
    color: var(--color--Red);
    background-color: var(--color--White);
    clip-path: polygon(70% 0, 0 66%, 79% 94%);
    display: grid;
    justify-content: center;
    align-content: center;
}
.book{
    text-decoration:none;
    color: var(--color--White);
}
.oldTrafford{
    height: 50rem;
    justify-self: center;
    align-self: center;
}
@media (max-width : 1000px) {
    .oldTrafford{
        height: 30rem;
    }
}