.page{
    height: 100dvh;
    display: grid;
    color: var(--color--White);
}
.paymentInfo{
    padding: 1.5rem 3rem;
    background-color: var(--color--Red);
    display: grid;
    grid-template-rows: 5rem repeat(3 , min-content)  1fr min-content;
    grid-row-gap: 1rem;
}
.heading{
    text-align: center;
    font-family:'Katibeh';
    font-size: 3rem;
    font-weight: 900;
}
.colorBox{
    background-image: linear-gradient(to bottom , var(--color--White)  , var(--color--Red)) ;
}

.box{
    height: 45rem;
    width: 70rem;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.input{
    height: 4rem;
    width: 100%;
    outline: none;
}

.smallBoxes{
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: start;
    grid-column-gap: 2rem;
}
.smallInput1{
    height: 4rem;
    width: 16rem;
    outline: none;
}
.smallInput2{
    height: 4rem;
    width: 11rem;
    outline: none;
}

.btn{
    display: grid;
    grid-template-columns: 1fr max-content;
    height: 4rem;
    grid-column-gap: 1rem;
}
.payNow{
    background-color: var(--color--Red);
    border: 1px solid var(--color--White);
    color: var(--color--White);
}

.link{
    text-decoration: none;
    color: var(--color--Red);
    padding: 1rem;
}
.link2{
    text-decoration: none;
    color: var(--color--White);
    padding: 1rem;
}
@media (max-width : 700px) {
    .page{
        height: 80vh;
        font-size: 1rem;
    }
}